
@{
    ViewData["Title"] = "Detalji";
}

<h2>Detalji</h2>

Stranica je još u izradi. Uskoro će osvanuti nova stranica s detaljima o riječi.

<a asp-area="" asp-controller="Word" asp-action="Index" asp-route-token="@ViewData["token"]">Povratak na popis</a>