@{
    ViewData["Title"] = "Početna";
}

<h1>Dobro došli!</h1>

<p class="body-content">
    <i>Neko uchi</i> je web aplikacija koja služi za vježbanje japanskog jezika koristeći kvizove i generirajući
    statistiku. Omogućava slaganje vlastitih tečajeva, lekcija i testova, ali i dijeljenje i pretplatu na postojeće -
    svakome po ukusu!
    Prijavi se i otkrij kako ti <i>Neko uchi</i> može pomoći.
</p>

<div class="row">
    <div class="col-md-3">
        <h2>Tečajevi, lekcije i kvizovi</h2>
        Tečajevi su vrh hijerarhije. Mogu predstavljati udžbenik koji se trenutno koristi ili metode predavača kojeg
        se trenutno prati. Tečajevi sadrže lekcije - logičke cjeline s jednom temom. Lekcije mogu sadržavati riječi,
        rečenice ili gramatička pravila vezane uz cjelinu. Na temelju građe u lekciji se formiraju kvizovi koji 
        se mogu rješavati više puta i iz kojih nastaje statistika koju se može pratiti.
    </div>
    <div class="col-md-3">
        <h2>Za više detalja</h2>
        <ul>
            <li><a href="~/images/NekoUchi.svg">Možete dodati svoj tečaj...</a></li>
            <li><a href="~/images/NekoUchi.svg">Pretplatiti se na tuđi...</a></li>
            <li><a href="~/images/NekoUchi.svg">Dodavati lekcije...</a></li>
            <li><a href="~/images/NekoUchi.svg">Riječi i rečenice u lekcije...</a></li>
            <li><a href="~/images/NekoUchi.svg">Rješavati kvizove...</a></li>
            <li><a href="~/images/NekoUchi.svg">I pratiti svoj napredak.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Dodatno</h2>
        Moguće je slati mailove putem aplikacije autorima tečajeva. Na taj način predavač može pratiti napredak
        pretplaćenih na tečaj. U mailu se nalaze statistike kvizova iz odabranih lekcija.
    </div>
    <div class="col-md-3">
        <h2>Kontakt</h2>
        Za eventualne prijedloge za razvoj, prijavu bugova ili kakve druge komentare, pišite na 
        <a href="mailto:neko.uchi.app@gmail.com">neko.uchi.app@gmail.com</a>
    </div>
</div>