@{
    ViewData["Title"] = "Početna";
}

<h1>Dobrodošli!</h1>

<p class="body-content">
    NekoUchi je web stranica namijenjena pomoći u učenju japanskog jezika.

    Za nastavak se prijavite klikom na link u gornjem izborniku. Ako nemate račun
    potrebno se kratko registrirati.
</p>